<div class='header bg-custom-background'>
    <nav class='navbar navbar-expand navbar-dark'>
        <div class='container-xxl'>
            <a class='navbar-brand fw-bolder' href='/list'>Weathers</a>
            <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav'
                aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
                <span class='navbar-toggler-icon'></span>
            </button>
            <div class="d-flex gap-3">
                <a href="/list" class="nav-link">Report List</a>
            </div>
        </div>
    </nav>
</div>
