@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

/*  */
.bg-gradient {
    background: linear-gradient(45deg, #007bff, #6f42c1, #6610f2);
}
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.hover-bg-dark:hover {
    background-color: #0056b3 !important;
}
/*  */

body {
    margin: 0px;
    font-style: 600;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.table tbody tr td {
    vertical-align: middle;
    padding-left: 1%;
}

.card-header {
    background-color: white !important;
    padding: 15px !important;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.bg-custom-background {
    background-color: #00416a !important;
    color: aliceblue !important;
    border-color: #00416a !important;
}

.nav-link {
    color: aliceblue !important;
    text-decoration: none;
    font-weight: bold !important;
}

.min-table {
    height: 30vh !important;
}
